.gridview {
	border-width: 1px;
	border-style: solid;
	border-color: #027FF4;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.gridview th {
	border: 1px solid #a5acb5;
	background: #e7ebef url(gvHeaderBackground.gif) repeat-x left top;
    font-weight: normal;
	text-align: left;
	padding: 4px;
}

.gridview thead tr {
	display:block;
	position:relative;
	width: 100%;
}

.gridview tbody {
	display: block;
    overflow: auto;
	width: 100%;
	height: 100%;
}

.gridview tr {
	width: 100%;
    display: table;
    table-layout: fixed;
}

.gridview td {
	padding: 4px;
}

.sort-header {
	cursor: pointer;
	width: 100%;
	display: inline-block;
}

.sort-header div {
	display:inline-block;
	margin-left: 1px;
}

.sort-arrows {
	margin-left: 6px !important;
	float:right;
}

.sort-arrow {
	position: absolute !important;
	font-size: 10px;
	margin-top: 5px;
}

	.sort-arrow.top-empty {
		margin-top: 2px;
	}

	.sort-arrow.bottom-empty {
		margin-top: 10px;
	}


.scrollable-table {
	width: 100%;
}

	.scrollable-table thead,
	.scrollable-table tbody {
		display: block;
	}

	.scrollable-table tbody {
		overflow-y: auto;
		overflow-x: hidden;
	}


.glyphicon-small {
	font-size: 13px;
}


.filter-control {
	display: block;
	width: 100%;
	height: 29px;
	padding: 3px 3px;
	line-height: 1.42857143;
	border: 1px solid #ccc;
}

.header-button {
	right: 0;
	left: auto;
	float: right;
	padding-bottom: 8px;
	padding-right: 20px;
	cursor: pointer;
}

.detailgrid-container {
	line-height: 0 !important;
	padding: 0 !important;
	padding-left: 20px !important;
}

.typeahead-button {
	display: inline-block;
	white-space: nowrap;
	margin-top: -26px;
	border: none;
	background-color: transparent;
}

.grid-pagination {
	border: 1px solid #a5acb5;
	background: #e7ebef url(gvHeaderBackground.gif) repeat-x left top;
}

.grid-pagination div {
	display: inline-block;
	margin-top: 2px;
}

.pagination-showing {
	float: right;
	margin-right: 10px;
}

.grid-pagination, .grid-pagination .pagination {
	margin: 0px;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
	cursor: pointer;
}

	.pagination > li {
		position: relative;
		float: left;
		padding: 1px 5px;
		margin-left: -1px;
		border: 1px solid #ddd;
	}

.pagination-selected {
	color: #fff !important;
	background-color: #337ab7 !important;
}

.overlay-background {
	/* top: 0px;
	left: 0px;
	padding-left: 100px;
	position: fixed;
	z-index: 1000;
	height: 100%;
	width: 100%; */
	background-color: #808080;
	opacity: 0.3;

	position: fixed;
    padding: 2em;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
}

.overlay-content {
	position: fixed;
	border: 1px solid #000;
	background-color: #fff;
	font-weight: bold;
	height: 100px;
	width: 300px;
	z-index: 1000;
	text-align: center;
    left: 50%;
    margin-left: -150px;
    top: 50%;
	margin-top: -50px;
}

.gridview-alternate-row {
	background-color: #EEE;
}

.no-wrap {
	white-space: nowrap;
}

.small-button {
	height: 30px;
	width: 30px;
	padding: 2px;
}

.filter-check-list .form-control {
	height: 29px;
}

.filter-check-list .check-list-container {
	padding-right: 0px !important;
}

.filter-check-list .check-list-button {
	height: 22px !important;
	width: 30px !important;
}

.filter-check-list .check-list-input {
	min-height: 10px !important;
	height: 22px;
}

.selectable-row:hover, .selected-row {
	cursor: pointer;
	background-color: #C2F0F0 !important;
}

.resize-div {
	background-color: transparent;
	color: transparent;
	float: right;
	cursor: col-resize;
	margin-right: -11px;
	width: 10px;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

gridview th:not(:first-child) {
	border-left: 1px solid #fff;
}